# Template for environment variables. 
# Copy this to .env and fill in the values.

# Credenciales Keycloak
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=

# Credenciales SQL Server
SQL_SA_PASSWORD=

# Credenciales RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# Cadenas de conexión para las APIs
# Nota: Aquí usamos el nombre del servicio en Docker (sql-server, redis, etc.)
CONNECTION_SQL_CATALOGO=
CONNECTION_SQL_INVENTARIO=
CONNECTION_RABBITMQ=

# En desarrollo es localhost:5100
# En el servidor será http://65.12.34.56 (tu IP de Clouding)
APP_EXTERNAL_URL=
