# Template for environment variables. 
# Copy this to .env and fill in the values.

# Credenciales Keycloak
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=

# Credenciales SQL Server
SQL_SA_PASSWORD=

HOSTNAME =

KC_HOSTNAME=${HOSTNAME}
KC_HTTP_RELATIVE_PATH=/auth
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
# El proxy-headers debe ser xforwarded
KC_PROXY_HEADERS=xforwarded
KEYCLOAK_URL=http://${HOSTNAME}/auth/

Authentication__Schemes__Bearer__Authority=http://${HOSTNAME}/auth/realms/TiendaRealm



# Credenciales RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# Cadenas de conexión para las APIs
# Nota: Aquí usamos el nombre del servicio en Docker (sql-server, redis, etc.)
CONNECTION_SQL_CATALOGO=
CONNECTION_SQL_INVENTARIO=
CONNECTION_RABBITMQ=



